{% if current_user.is_authenticated and current_user.loainguoidung.value == 3 %}

{% extends 'layout/base.html' %}

{% block tittle %}Bảng điểm môn{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="mb-3 text-center">BẢNG ĐIỂM MÔN HỌC</h2>
    <table class="table table-bordered">
    <thead class="text-center">
    <tr>
        <th>Lớp: {{ selected_value.lop }}</th>
        <th>Môn: {{ selected_value.monhoc }}</th>
        <th>Năm học: {{ selected_value.namhoc }}</th>
        <th>{{ selected_value.hocky }}</th>
    </tr>
    </thead>
    </table>
    <table class="table table-bordered table-hover">
        <thead class="thead-light text-center">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Điểm 15 phút</th>
            <th>Điểm 1 tiết</th>
            <th>Điểm thi</th>
            <th>Điểm trung bình</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for bangdiem in bangdiems %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ bangdiem.hoten }}</td>
            <td>{{ bangdiem.diem15p }}</td>
            <td>{{ bangdiem.diem1t }}</td>
            <td>{{ bangdiem.diemthi }}</td>
            <td>{{ bangdiem.diemtrungbinh }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% else %}

{% include 'layout/404.html' %}

{% endif %}