{% if current_user.is_authenticated and current_user.loainguoidung.value == 2 %}

{% extends 'layout/base.html' %}

{% block tittle %}Danh sách lớp{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h2 class="mb-3 text-center">Danh sách lớp</h2>
    {% if class_name %}
    <table class="table table-bordered">
    <thead class="text-center">
    <tr>
        <th>Lớp: {{ class_name.tenlop }}</th>
        <th>Sĩ số: {{ class_name.siso }}</th>
    </tr>
    </thead>
    </table>
    {% endif %}

    <table class="table table-bordered table-hover">
        <thead class="thead-light text-center">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Năm sinh</th>
            <th>Địa chỉ</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for student in students %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ student.tenhocsinh }}</td>
            <td>{{ student.gioitinh }}</td>
            <td>{{ student.ngaysinh.year }}</td>
            <td>{{ student.diachi }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% else %}

{% include 'layout/404.html' %}

{% endif %}