{% if current_user.is_authenticated %}

{% extends 'layout/base.html' %}

{% block tittle %}Đổi mật khẩu{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center login-container">
        <div class="col-md-4">
            <div class="login-box">
                <h2 class="text-center">Đổi mật khẩu</h2>
                <form method="POST" action="/doi-mat-khau">
                    <div class="form-group">
                        <label for="matkhaucu">Mật khẩu cũ:</label>
                        <input type="password" class="form-control" id="matkhaucu" placeholder=""
                               name="matkhaucu">
                    </div>
                    <div class="form-group">
                        <label for="matkhaumoi">Mật khẩu mới:</label>
                        <input type="password" class="form-control" id="matkhaumoi" placeholder=""
                               name="matkhaumoi">
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% else %}

{% include 'layout/404.html' %}

{% endif %}