{% extends 'layout/base.html' %}

{% block tittle %}Quản lý học sinh{% endblock %}

{% block content %}

<div class="container mt-5" style="margin-top:30px">
    <h1 class="text-center mt-4 mb-4">Chào mừng đến với Hệ Thống Quản Lý Học Sinh</h1>

    <p class="lead">Chúng tôi tự hào giới thiệu đến bạn một giải pháp hiệu quả cho việc quản lý học sinh trong môi
        trường giáo dục. Hệ thống của chúng tôi không chỉ giúp tổ chức dễ dàng tiếp nhận và quản lý học sinh mà còn cung
        cấp các công cụ mạnh mẽ cho giáo viên và người quản trị để theo dõi và đánh giá tiến bộ học tập.</p>

    <h2 class="mb-4 mt-4 text-center">Tại sao chọn Hệ Thống Quản Lý Học Sinh của chúng tôi?</h2>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tiếp Nhận Học Sinh</h5>
                    <p class="card-text">Với biểu mẫu tiếp nhận học sinh thông minh, nhân viên trường có thể nhanh chóng
                        và chính xác tiếp nhận học sinh mới, đảm bảo tuân thủ quy định về độ tuổi.</p>
                    <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thống Kê và Báo Cáo</h5>
                    <p class="card-text">Người quản trị có thể xem tổng kết môn học thông qua báo cáo và biểu đồ sử dụng
                        chartjs, giúp họ đưa ra quyết định dựa trên dữ liệu chính xác.</p>
                    <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lập Danh Sách Lớp</h5>
                    <p class="card-text">Hệ thống cho phép lập danh sách lớp dễ dàng, và nhân viên có thể linh hoạt điều
                        chỉnh sơ đồ lớp học theo nhu cầu thực tế của trường.</p>
                    <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nhập Điểm Và Xuất Điểm</h5>
                    <p class="card-text">Giáo viên có thể nhập và quản lý điểm số từng học kỳ, đồng thời xuất bảng điểm
                        trung bình môn học của lớp.</p>
                    <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thay Đổi Quy Định</h5>
                    <p class="card-text">Hệ thống linh hoạt và cho phép người quản trị thay đổi quy định, như điều chỉnh
                        độ tuổi tiếp nhận học sinh hay sĩ số tối đa của lớp học.</p>
                    <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quản Lý Môn Học</h5>
                    <p class="card-text">Người quản trị được phép thêm, xoá, cập nhật và tìm kiếm môn học trong hệ thống.</p>
                    <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
    <p class="mb-4 mt-4 lead">Chúng tôi cam kết mang đến trải nghiệm quản lý học sinh mạnh mẽ và thuận tiện. Bắt đầu ngay hôm nay
        để tận hưởng những lợi ích mà hệ thống của chúng tôi mang lại!</p>
</div>

{% endblock %}