{% if current_user.is_authenticated and current_user.loainguoidung.value == 3 %}

{% extends 'layout/base.html' %}

{% block tittle %}Bảng điểm trung bình{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <form action="/bang-diem-trung-binh" method="POST">
        <div class="row mt-3 mb-3">
            <div class="col">
                <select name="lop" id="lop" class="custom-select">
                    <option value="">Chọn lớp</option>
                    {% for lop in lops %}
                    <option value="{{ lop.lop }}">{{ lop.lop }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <select name="namhoc" id="namhoc" class="custom-select">
                    <option value="">Chọn năm học</option>
                    {% for namhoc in namhocs %}
                    <option value="{{ namhoc.namhoc }}">{{ namhoc.namhoc }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <select name="monhoc" id="monhoc" class="custom-select">
                    <option value="">Chọn môn học</option>
                    {% for monhoc in monhocs %}
                    <option value="{{ monhoc.monhoc }}">{{ monhoc.monhoc }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Xem bảng điểm</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit" name="export">Xuất bảng điểm</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% else %}

{% include 'layout/404.html' %}

{% endif %}

